.card {
  border: 2px white solid;
  border-radius: 5px;
  width: 25px;
  height: auto;
  min-height: 25px;
  padding: 7px;
  background-color: black;
  margin: 5px;
}

.card:hover {
  background-color: rgb(59, 66, 67);
  cursor: pointer;
}

.disabled {
  border: 2px white solid;
  border-radius: 5px;
  width: 25px;
  height: auto;
  min-height: 25px;
  padding: 7px;
  background-color: black;
  margin: 5px;
  cursor: not-allowed;
}
